body {
  background-color: #f5c000;
  
}

.navBar {
  text-align: center;
}

nav a {
  display: inline-bock; 
  margin: 1rem 4rem;
  text-decoration: none;
  font-size: 1.5em;
  color: firebrick;
  border-bottom: 2px solid firebrick;
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: tomato;
  border-bottom: 2px solid tomato;
}










/* .App {
  text-align: center;
  
}


.App-header {  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #212529;
  font-family:'Times New Roman', Times, serif
} */

