body {
  background-color: #f5c000;
  
}


.App {
  text-align: center;
  
}


.App-header {  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #212529;
  font-family:'Times New Roman', Times, serif
}

